{% extends 'vams/base.html' %}
{% block title %}
Appointment
{% endblock title %}

{% block content %}
<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('/static/vams/images/bg_1.jpg');"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">

            </div>
        </div>
    </div>
</section>

<head>

    <style>
        .col-md-5{
                width: 50%;
                margin: auto;
                margin-top: 59px;
        }
    </style>
</head>
<body>

<div class="col-md-5" style=" " >

    {% if user.is_authenticated %}

    <h1 style="text-align:center"> Patient Report</h1>

    <form action="/patient_report/" method="POST">

    {% csrf_token %}

    <div class="from-group">
        <label>Patient Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Patient name">
    </div>

     <div class="from-group">
        <label>Patient Mobile:</label>
        <input type="number" class="form-control" name="mobile" placeholder="Enter Mobile Number">
    </div>

      <div class="from-group">
        <label>Patient Address:</label>
        <input type="text" class="form-control" name="address" placeholder="Enter Address Name">
    </div>

        <div class="from-group">
        <label>Doctor Name:</label>
        <input type="text" class="form-control" name="doctor_name" placeholder="Enter Doctor name">
    </div>


    <div class="from-group">
        <label>Vaccine Name:</label>
        <input type="text" class="form-control" name="vaccine_name" placeholder="Enter Vaccine name">
    </div>

        <div class="from-group">
        <label>Room Charge of Days:</label>
        <input type="number" class="form-control" name="charge" placeholder="Enter Amount">
    </div>

        <div class="from-group">
        <label>Doctor Fee:</label>
        <input type="number" class="form-control" name="fee" placeholder="Enter Amount">
    </div>

        <div class="from-group">
        <label>Medicine Cost:</label>
        <input type="number" class="form-control" name="cost" placeholder="Enter Amount">
    </div>

        <div class="from-group">
        <label>Other Charge:</label>
        <input type="number" class="form-control" name="other" placeholder="Enter Amount">
    </div>

        <div class="from-group">
        <label>Total Bill:</label>
        <input type="number" class="form-control" name="total_bill" placeholder="Enter Amount">
    </div>

     <div class="from-group">
        <label>Date:</label>
        <input type="date" class="form-control" name="date" placeholder="">
    </div>

     <div class="from-group">
        <label>Time:</label>
        <input type="time" class="form-control" name="time" placeholder="Your name">
    </div><br>



    <div class="from-group" style="text-align:center">
    <input type="submit" value="submit">
        </div>
</form>

{% else %}
    <p style="text-align: center; padding: 50px 0px;">Sorry! You are not logged in.</p>
{% endif %}

</div>



</body>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

{% endblock content %}